h1 {
    background-color: #00bbddff;
    padding: 6px 2px;
}

h2 {
    background-color: #00bbddcc;
    padding: 4px 2px;
}

h3 {
    background-color: #00bbdd99;
    padding: 2px 2px;
}

h4 {
    background-color: #00bbdd66;
    padding: 1px 2px;
}

.indent {
    border-left: 1px solid #eeeeee;
    padding-left: 20px;
}

.uncertain {
    background-color: #e77f7faa;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 8px;
}

.grayout {
    background-color: #444444aa;
}

table, th, td {
    border: 1px #000000 solid;
}

th {
    border: 1px #000000 solid;
    background-color: #00ff7733;
}

td {
    padding-left: 4px;
    padding-right: 8px;
}
